<!--  Feito por Rafael  -->
<body>
    <main class="container">
        <div class='row form-contato'>
            <div class='col-md-6 col-sm-12 full-center'>
                <h2 id="contact">ENTRE EM <span class='red-text'>CONTATO</span></h2>
            </div>
            <div class='col-md-6 col-sm-12'>
                <form class="row p-2">
                    <div class="col-md-12">
                        <label for="inputMesagem">Mensagem</label>
                        <textarea type="email" class="form-control rounded" id="inputMesagem" rows='4' placeholder="Escreva uma mensagem"></textarea>
                    </div>

                    <div class="col-6 p-2">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Escreva seu nome">
                    </div>

                    <div class="col-6 p-2">
                        <label for="inputEmail4" class="form-label">E-mail</label>
                        <input type="Email" class="form-control" id="inputEmail4" placeholder="Escreva seu E-mail">
                    </div>


                    <div class="col-12 full-center m-1">
                        <button type="submit" class=" ">ENVIAR</button>
                    </div>



                </form>


            </div>
        </div>
        <div class='row contato-info'>
            <div class='col-md-3 col-sm-12 col-12'></div>
            <div class='col-md-3 col-sm-6 col-6 separator-right'>
                Contato@prowhey.com
                (47) 9999-99999
            </div>
            <div class='col-md-3 col-sm-6 col-6 separator-left'>
                Atendimento de segunda a sexta 09:00am - 18:00pm
            </div>
            <!-- <div class='col-md-3 col-sm-12 col-12'></div> -->
        </div>
    </main>

</body>

</html>