<!--Feito por Arthur-->

<header>
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-12">
              <div class="homeHeader-texts">
                  <h2>conheça nossas lojas</h2>
                  <span>Entre em contato e visite nossas lojas de distribuição para ter acesso à produtos de qualidade!</span>
              </div>
          </div>
          <div class="col-md-6 col-12">
            <img src="../img/mapa.png" class="position-relative top-50 start-50 translate-middle" alt="mapa">
          </div>
      </div>
  </div>
</header>
<hr>


<div class="container">

  <div class="row">

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h2><a class="card-text mb-auto" href="#">Loja 1</a></h2>
          <div class="mb-1 text-muted">Rua Itajaí, Vorstadt, Blumenau</div>
          <a href="https://www.openstreetmap.org">
            <button type="button">COMO CHEGAR</button>
          </a>
        </div>
        <div class="card-img-right flex-auto d-none d-md-block" id="map1"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h2><a class="card-text mb-auto" href="#">Loja 2</a></h2>
          <div class="mb-1 text-muted">Rua Anfilóquio Nunes Pires, Bela Vista, Gaspar</div>
          <a href="https://www.openstreetmap.org">
            <button type="button">COMO CHEGAR</button>
          </a>
        </div>
        <div class="card-img-right flex-auto d-none d-md-block" id="map2"></div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h2><a class="card-text mb-auto" href="#">Loja 3</a></h2>
          <div class="mb-1 text-muted">Marginal da Via Expressa, Itoupava Norte, Blumenau</div>
          <a href="https://www.openstreetmap.org">
            <button type="button">COMO CHEGAR</button>
          </a>
        </div>
        <div class="card-img-right flex-auto d-none d-md-block" id="map3"></div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h2><a class="card-text mb-auto" href="#">Loja 4</a></h2>
          <div class="mb-1 text-muted">Rua Werner Duwe, Badenfurt, Blumenau</div>
          <a href="https://www.openstreetmap.org">
            <button type="button">COMO CHEGAR</button>
          </a>
        </div>
        <div class="card-img-right flex-auto d-none d-md-block" id="map4"></div>
      </div>
    </div>

  </div>

</div>

<div id="map"></div>