<!--Feito por Klaus-->


<header>
    <div class="container text-center">
        <h2>Produtos</h2>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyPote1.jpeg" class="card-img-top"
                        alt="Pote de whey protein 900 gramas">
                    <div class="card-body">
                        <h5 class="card-title">Whey Protein concentrado 900g</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Ajuda na hipertrofia<br>
                            Rende 29 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$89,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$99,90 no pagamento via
                                cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyPote2kg.jpg" class="card-img-top"
                        alt="Pote de whey protein 2,2 quilos">
                    <div class="card-body">
                        <h5 class="card-title">Whey Protein concentrado 2,2kg</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Ajuda na hipertrofia<br>
                            Rende 73 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$169,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$189,90 no pagamento
                                via cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyPack3.png" class="card-img-top"
                        alt="Combo promocional com 3 unidades de whey protein 900 gramas">
                    <div class="card-body">
                        <h5 class="card-title">Combo 3 potes de Whey Protein 900g</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Ajuda na hipertrofia<br>
                            Rende 87 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$259,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$289,90 no pagamento
                                via cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyRefilPacote.jpg" class="card-img-top"
                        alt="Refil de whey protein 900 gramas">
                    <div class="card-body">
                        <h5 class="card-title">Refil Whey Protein concentrado 900g</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Ajuda na hipertrofia<br>
                            Melhor custo x beneficio<br>
                            Rende 29 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$79,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$89,90 no pagamento via
                                cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyVegan2kg.png" class="card-img-top"
                        alt="Pote de whey protein vegano 2,2 quilos">
                    <div class="card-body">
                        <h5 class="card-title">Whey Protein Concentrado Vegano 2,2kg</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Proteina vegetal de alto valor biológico<br>
                            Ajuda na hipertrofia<br>
                            Rende 73 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$220,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$240,90 no pagamento
                                via cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/produtos/wheyIsolado.jpg" class="card-img-top"
                        alt="Pote de whey protein premium 900 gramas">
                    <div class="card-body">
                        <h5 class="card-title">Whey Protein Premium Isolado 900g</h5>
                        <p class="card-text">
                            Materia prima internacional<br>
                            Proteina premium<br>
                            Alta absorção<br>
                            Ajuda na hipertrofia<br>
                            Rende 29 porções
                        </p>
                        <div class="preco">
                            <span class="valor">R$109,90</span>
                            <p>
                                <span class="valorBoleto">no pix, depósito ou boleto.</span> Ou R$119,90 no pagamento
                                via cartão em até <strong>6x sem juros</strong>
                            </p>
                        </div>
                        <button class="botaoCompra">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
</main>