<!-- Feito por Matheus de Camargo -->
<header>
    <div class="container text-center">
        <h1 class="display-1 text-center"><strong class="text-color">SOBRE</strong> <strong class="text-white">A
                EMPRESA</strong></h1>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <h1 class="display-2 text-center text-color">QUEM SOMOS?</h2>
                <p class="text-center">A ProWhey nasceu quebrando velhas
                    práticas de mercado, que impediam produtos com qualidade de chegarem aos nossos clientes de forma
                    acessível.
                    De lá para cá, ampliamos nosso público e estamos levando nutrição de nível internacional para cada
                    vez
                    mais pessoas Brasil afora.
                    Progressivamente, desenvolvemos mais linhas e lançamentos que atendem diversos perfis. Fundada por
                    um
                    engenheiro de alimentos, a nossa empresa tem como pilares: qualidade, acessibilidade e prazer ao se
                    nutrir. </p>
        </div>
        <div class="col-md-6 col-12">
            <h1 class="display-2 text-center text-color">O QUE FAZEMOS?</h2>
                <p class="text-center">Não somos apenas uma loja, e sim uma construtora de sonhos, quem nunca sonhou em
                    ter o corpo sarado, ou sair do sedentarismo, nós ajudamos as pessoas a alcançarem seus objetivos,
                    com o máximo de seu potencial.
                    Nosso diferencial é que usamos apenas do bom e do melhor, sem produtos transgênicos ou saturados em
                    nossa tabela nutricional, possuindo um percentual baixíssimo de carboidratos e zero de gordura.</p>
        </div>
    </div>