
/*
header{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url('../../img/sobre/sobre2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
*/
header{
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(../../img/sobre/sobre2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.page-footer{
    position: fixed;
    bottom: 0;
}

.text-color{
    margin-top: 20px;
    color: #a4161a;
    font-size: 75px;
}

.text-align{
    width: 80%;
    text-align: center;
}

p{
    margin-top: 30px;
    font-size: 20px;
}

@media screen and (max-width: 700px){
    .page-footer{
        position: relative;
    }

    .text-color{
        font-size: 50px;
    }

    p{
        margin-top: 10px;
        font-size: 17px;
    }
}